/* 
body selects the body element, * selects all elements.
Out of those two, body has higher priority. 
*/

*{
    margin: 0;
    padding: 0;
}

body{
    height:200vh;
    background: #111;
}

section{
    position: absolute;
    width: 100%;
    height: calc(100% - 200px); 
    background-color: #2abbff;
}

section .curve{
    position: absolute;
    bottom: -200px;
    height: 200px;
    width: 100%;
    transform-origin: top;
}

section .curve img{
    height: 100%;
    width: 100%;
}